@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*------------------------------*\
    $Variables
/*------------------------------*/
/*------------------------------*\
    Base g├®n├®rique
/*------------------------------*/
html, body {
  font-family: verdana;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
}

h1 {
  font-family: lobster;
}

a {
  text-decoration: none;
  color: inherit;
}

/*------------------------------*\
    Header
/*------------------------------*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background: blue;
  z-index: 1;
}

.header-logo {
  font-family: lobster;
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/*-----------------------------*\
    Menu-top
/*-----------------------------*/
.menu-top {
  a-padding: 0 10px;
}
.menu-top a:hover {
  color: #c6ff00;
}

/*-----------------------------*\
    Site-container
/*-----------------------------*/
.site-container {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  bottom: 0;
}

/*-- $Variables --*/
/*-- Responsive Portable <750px --*/
@media only screen and (max-width: 750px) {
  /*-- Forcer les positions height pour garantir les positions absolute --*/
  .bloc-container, .menu-pusher, .site-container {
    height: 100%;
  }

  /*-- Emp├®cher le deplacement du site sur portable --*/
  .bloc-container {
    overflow: hidden;
  }

  /*-- Creation icon hamburger en utilisant le box-shadow --*/
  .header-icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  .header-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1em;
    height: 0;
    top: 16px;
    left: 16px;
    -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  /*-- Uniquement pour v2 --*/
  .site-container {
    top: 0px;
    background: #fff;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    /* Inerie sur Ios */
  }

  /*-- Permet de mettre menu-top ├á height:100% --*/
  .header {
    position: static;
  }

  /*-- Placement pusher TranslateX 0.px --*/
  .menu-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /*-- Menu-top --*\
      Width : largeur.px
      Passage menu en verticale
      Cacher menu TranslateX - width-menu-top.px
  /*----------------*/
  .menu-top {
    position: absolute;
    left: 0;
    top: 66px;
    bottom: 0;
    background-color: #0000e6;
    width: 250px;
    /*-- uniquement pour v1 --* 
      @include transform(translateX($menu-top-width * -1 )); //v1
      @include transition-duration(0.3s); */
    /*-- Permet un deroulement sur ecran tactile --*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .menu-top a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid blue;
  }

 /*-- With-sidebar --*\
    Integration ├á body en js
    Pusher translateX + width-menu-top.px
    Affichage site-cache
/*----------------*/
  .width-sidebar .menu-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  .width-sidebar .site-cache {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
